.auth-form {
  width: 90%;
  margin: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 12px var(--black-transparent2);
  background-color: var(--gray5);
}

.auth-form h1 {
  margin-top: 0;
}

@media (min-width: 768px) {
  .auth-form {
    width: 40rem;
  }
}
