* {
  box-sizing: border-box;
}

body {
  /* Color definitions */
  --primary: #3b0062;
  --primary-highlight: #520288;
  --primary-transparent: #3b006226;
  --secondary: #fab83f;
  --secondary-highlight: #fbc766;
  --secondary-transparent: #fab83f26;
  --success: #00b359;
  --success-highlight: #00a151;
  --success-transparent: #00b35a26;
  --danger: #a30000;
  --danger-highlight: #c00000;
  --danger-transparent: #a3000026;
  --danger-light: #ff6060;
  --danger-lighter: #ffe0e0;

  --gray1: #464646;
  --gray2: #707070;
  --gray3: #888888;
  --gray4: #ccc;
  --gray5: #fdfdfd;

  --black-transparent1: hsla(0, 0%, 0%, 0.75);
  --black-transparent2: rgba(0, 0, 0, 0.3);
  --black-transparent3: rgba(0, 0, 0, 0.2);

  /* Global font family */
  font-family: 'DM Sans', sans-serif;
}
