.paginator__controls {
  display: flex;
  justify-content: center;
}

.paginator__control {
  width: 5rem;
  padding: 0.25rem 0;
  margin: 0 1rem;
  border: none;
  border-radius: 0.25rem;
  background: transparent;
  font: inherit;
  cursor: pointer;
  font-size: 1rem;
  color: var(--primary);
  transition: background-color 0.125s;
}

.paginator__control:hover,
.paginator__control:active {
  background-color: var(--primary-transparent);
}

.paginator__control:focus {
  outline: none;
}
