.navigation-item {
  margin: 0 0.25rem;
}

.navigation-item a,
.navigation-item button {
  font: inherit;
  background: transparent;
  border: none;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: color 0.125s, background-color 0.125s;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.navigation-item.mobile {
  font-size: 1.75rem;
  margin: 0;
  width: 100%;
}

.navigation-item.mobile a,
.navigation-item.mobile button {
  color: var(--primary);
  width: 100%;
  text-align: start;
  display: block;
}

.navigation-item a:hover,
.navigation-item button:hover {
  background-color: var(--black-transparent3);
}

.navigation-item a:active,
.navigation-item button:active {
  background-color: var(--black-transparent2);
}

.navigation-item button:active,
.navigation-item button:focus {
  outline: none;
}

.navigation-item a.active {
  color: var(--secondary);
}

.navigation-item:last-of-type {
  padding-right: 0;
}
