.button {
  font: inherit;
  border: 1px solid var(--primary);
  color: var(--primary);
  background: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 0.25rem;
  transition: background-color 0.125s, border-color 0.125s, color 0.125s;
}

.button:focus {
  outline: none;
}

.button:disabled {
  background: var(--gray4);
  color: var(--gray3);
  cursor: not-allowed;
  border: var(--gray4);
  box-shadow: none;
}

.button:disabled:hover,
.button:disabled:active {
  background: var(--gray4);
  color: var(--gray3);
  border: var(--gray4);
}

.button:hover,
.button:active {
  background: var(--primary);
  color: white;
}

.button--flat {
  border: none;
}

.button--flat:hover,
.button--flat:active {
  background: var(--primary-transparent);
  color: var(--primary);
}

.button--raised {
  background: var(--primary);
  color: white;
  box-shadow: 0 1px 8px var(--black-transparent2);
}

.button--raised:hover,
.button--raised:active {
  background: var(--primary-highlight);
}

.button.button--accent {
  border-color: var(--secondary);
  color: var(--secondary);
}

.button--accent:hover,
.button--accent:active {
  background: var(--secondary);
  color: var(--primary);
}

.button--flat.button--accent:hover,
.button--flat.button--accent:active {
  background: var(--primary-transparent);
  color: var(--secondary);
}

.button.button--accent.button--raised {
  background: var(--secondary);
  color: var(--primary);
}

.button--raised.button--accent:hover,
.button--raised.button--accent:active {
  background: var(--secondary-highlight);
}

.button.button--danger {
  border-color: var(--danger);
  color: var(--danger);
}

.button--danger:hover,
.button--danger:active {
  background: var(--danger);
  color: white;
}

.button--flat.button--danger:hover,
.button--flat.button--danger:active {
  background: var(--danger-transparent);
  color: var(--danger);
}

.button.button--danger.button--raised {
  background: var(--danger);
  color: white;
}

.button--raised.button--danger:hover,
.button--raised.button--danger:active {
  background: var(--danger-highlight);
}

.button.button--success {
  border-color: var(--success);
  color: var(--success);
}

.button--success:hover,
.button--success:active {
  background: var(--success);
  color: white;
}

.button--flat.button--success:hover,
.button--flat.button--success:active {
  background: var(--success-transparent);
  color: var(--success);
}

.button.button--success.button--raised {
  background: var(--success);
  color: white;
}

.button--raised.button--success:hover,
.button--raised.button--success:active {
  background: var(--success-highlight);
}
