.main-nav__logo a {
  text-decoration: none;
}

.logo {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: 'Staatliches', sans-serif;
  letter-spacing: 0.05rem;
  color: var(--primary-highlight);
  background-color: white;
  padding: 0.4rem 0.75rem;
  border-radius: 1rem 1rem 1rem 0;
}
