.input {
  margin: 1rem 0;
  width: 100%;
}

.input label {
  display: block;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.input input,
.input textarea {
  display: block;
  font: inherit;
  padding: 0.5rem 0.625rem;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid var(--gray4);
  box-shadow: 0 0 0 0 var(--primary);
  transition: border 0.125s, box-shadow 0.125s;
}

.input .touched.invalid {
  border-color: var(--danger-light);
  background: var(--danger-lighter);
}

.input input:focus,
.input textarea:focus,
.input .touched.invalid:focus,
.input .touched.invalid:focus {
  outline: none;
  border: 1px solid var(--primary);
  box-shadow: 0 0 0 0.075rem var(--primary);
}
