.single-post {
  width: 90%;
  margin: auto;
  text-align: center;
}

.single-post h2 {
  font-size: 1rem;
  color: var(--gray1);
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--gray1);
}

.single-post__image {
  height: 20rem;
  width: 20rem;
  margin: 1rem auto;
}

@media (min-width: 768px) {
  .single-post {
    width: 40rem;
  }
}
