.post {
  margin: 1rem 0;
  background-color: var(--gray5);
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px var(--black-transparent2);
  padding: 0.5rem;
}

.post__meta {
  font-size: 1rem;
  color: var(--gray2);
  margin: 0;
}

.post__title {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: var(--primary);
}

.post__image {
  height: 15rem;
  width: 100%;
}

.post__actions {
  text-align: right;
}

@media (min-width: 768px) {
  .post {
    padding: 1rem;
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }
}
