.main-nav {
  height: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 1rem var(--black-transparent2);
}

.spacer {
  flex: 1;
}

.main-nav__items {
  list-style: none;
  padding: 0;
  display: none;
}

@media (min-width: 768px) {
  .main-nav__items {
    display: flex;
    align-items: center;
  }
}
